.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E4E2;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.search {
  margin-left: 30%;
}

#person {
  margin-left: 10px;
}
.carrinho {
  margin-top: 6%;
  margin-right: 40%;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-right: 28%;
}

.titleBar {
  background:
    'linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, ' +
    'rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)',
}

.header #person {
  margin-left: 10%;
}

.header img {
  margin-left: 25%;
}


.body {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height:100%;
}

.grade {
  border-radius: 10px;
}