.image {
    width: 150px;
    height: 150px;
    border-radius: 2vw;
}

.MuiButton-containedPrimary {
    background-color: #fabc03 !important;
    color: white !important;
    margin-left: 5px !important;
}

.item {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    background-color: #f5f5f5;
    width: 70vw;
    margin-left: 15vw;
}

.item h2 {
    margin-top: 7.5vh;
    margin-left: 8vw;
}

.qtditemsCart {
    margin-top: 1vh;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
}

.value-total {
    margin-left: 60%;
    margin-top: 1vw;
}

.buttons {
    margin-left: 80%;
    margin-top: 1vw;
}

.qntdItens {
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px
}

.secondStep {
    background-color: #f5f5f5;
    width: 50vw;
    height: 50vh;
    margin-left: 25%;
    margin-top: 1vw;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-secondStep {
    width: 20vw;
}

.MuiFormControl-root {
    margin-top: 1vw !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #fabc03 !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: #fabc03 !important;
}

.MuiStepper-alternativeLabel {
    background: #f5f5f5;
}